.nav-container {
  width: 100%;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.list-container li {
  padding: 5px;
  margin: 5px;
  width: 25%;
}

.list-container li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}



