.nav-container {
  width: 100%;
}

.nav-container-home {
  position: fixed;
  width: 100%;
}

.nav-container-about {
  position: fixed;
  width: 100%;
}

.nav-container-project {
  position: relative;
  width: 100%;
}

.nav-container-contact {
  position: fixed;
  width: 100%;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.list-container li {
  padding: 5px;
  margin: 5px;
  width: 25%;
}

.list-container li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}



